<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
</head>
<body>
  <h2>Home Page</h2>
  <p>Welcome <%= user %></p>
  <a href="/profile">Go to Profile</a>
  <br><br>
  <a href="/logout">Logout</a>

</body>
</html>