<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
</head>
<body>
    <h2>URL Shortener</h2>
    <form action="/url" method="POST">
        <input type="text" name="url" placeholder="Enter your Url here" required/>
        <button type="submit">Generate</button>
    </form>
    
</body>
</html>